# Virtual Environments
.venv/
venv/
env/
ENV/
bin/
lib/
include/

# Cache
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.mypy_cache/

# Shiny and Dashboards
.shiny/
*.log

# env settings
.env
.flaskenv

# vscode settings
.vscode/

# dists
dist/
build/
*.egg-info/